
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul li {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}

ul li a {
  color: #fff;
}

